body {
    color: #4e4e4e;
}

dl {
    dt {
        font-weight: 800;
        .duration {
            font-weight: normal;
        }
    }
    
    dd {
        margin-left: 30px;
        margin-right: 100px;
    }
}

h1, h2, h3 {
    font-weight: 800;
    color: #3B3B3B;
}

header {
    .site-title {
        font-size: 80px;
        color: #eaeaea;
        position: absolute;
        width: 100%;
        z-index: -10;
    }
    .page-title {
        position: absolute;
    }
}

/* Next, Previous and Top navigation */
#navigation {
    li {
        list-style-type: none;
        display: inline-block;
        
    }
    .right {
        float: right;
    }
    .left {
        float: left;
    }
    .center {
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        text-align: center;
    }
}

.bibliography {
    .citation {
        margin-left: 25px;
        text-indent: -25px;
    }
    blockquote {
        margin-left: 50px;
        margin-right: 100px;
    }
}

/* Figures especially multi imaage arrays */
.row.fig-array {
    text-align: center;
    .col {
        margin: auto;
        display: inline-block;
    }
    .col-md {
        width: 400px;
        padding: 25px;
    }
    .col-lg {
        width: 500px;
    }
    .col-jumbo {
        width: 700px;
    }
}

.site-title {
    font-weight: 800;
}
